.eventCard {
  border: 1px solid var(--color-irish-coffee);
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 300px;
  max-width: 400px;
}

.eventCardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .ctaWrapper {
    margin-top: 1rem;
  }
}

.eventInfo {
  padding: 0.5rem 0;
}

@media screen and (max-width: 650px) {
  .eventCard {
    grid-column: 1 / -1;
  }
}
