.header {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  align-items: center;
  justify-items: center;
  font-size: 2.5rem;
  background: linear-gradient(
    90deg,
    var(--color-morning-blue) 0%,
    var(--color-tiara) 15%,
    var(--color-tiara) 85%,
    var(--color-morning-blue) 100%
  );
}

.header nav {
  width: 100%;
}

.leftNav {
  display: flex;
  justify-content: flex-end;
}

.rightNav {
  display: flex;
}

.logo {
  margin: 15px;
}

.mobileHeader {
  display: none;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.footer {
  text-align: center;
}

@media screen and (max-width: 650px) {
  .header {
    display: none;
  }

  .mobileHeader {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .mobileBanner {
    grid-column: 1 / -1;
    background: linear-gradient(
      90deg,
      var(--color-tiara) 0%,
      var(--color-tiara) 70%,
      var(--color-morning-blue) 100%
    );
  }

  .logo {
    margin: 0 auto 0 15px;
  }

  .mobileNav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 57px;
  }

  .mobileNav a {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #fff;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--color-irish-coffee);
    border-right: 1px solid var(--color-irish-coffee);
    border-bottom: 2px solid var(--color-irish-coffee);
  }

  .mobileNav a:last-of-type {
    border-top: 2px solid var(--color-irish-coffee);
    border-bottom: 2px solid var(--color-irish-coffee);
    border-left: 1px solid var(--color-irish-coffee);
  }
}
