.header {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  align-items: center;
  justify-items: center;
}

.header nav {
  width: 100%;
}

.leftNav {
  display: flex;
  justify-content: flex-end;
}

.rightNav {
  display: flex;
}

.logo {
  margin: 15px 0 15px 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.footer {
  text-align: center;
}
