.aboutContent {
  padding: 3rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  max-width: 1300px;
  margin: 0 auto;
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
}

.section:nth-child(odd) {
  grid-template-areas: 'image copy copy';
}

.section:nth-child(even) {
  grid-template-areas: 'copy copy image';
}

.imageWrapper {
  grid-area: image;
}

.sectionContent {
  grid-area: copy;
  .copy {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 650px) {
  .section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
  }

  .section:nth-child(odd),
  .section:nth-child(even) {
    justify-items: center;
    grid-template-areas:
      'image'
      'copy';
  }
}
