.aboutContent {
  padding: 3rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
}

.sectionContent {
  .copy {
    padding: 1rem 0rem;
  }
}

.ctaSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0rem;
    .copy {
      margin-bottom: 2rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .ctaSection {
    grid-template-columns: 1fr;
    .cta {
      margin: 2rem 0rem;
    }
  }
}
