.eventContent {
  padding: 0.75rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
}

.event {
  width: 60%;
  padding: 0rem 1rem 1rem 1rem;
  border-bottom: 1px solid var(--color-slate-gray);
}

.event h3 {
  margin-bottom: 1rem;
}

.eventDetails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  grid-template-areas:
    'date time location'
    'description description description'
    'signUpLink signUpLink signUpLink';

  & .eventDate {
    grid-area: date;
  }

  & .eventTime {
    grid-area: time;
  }

  & .eventLocation {
    grid-area: location;
  }

  & .eventDescription {
    grid-area: description;
  }
}

.eventSignUpLink {
  width: fit-content;
  grid-area: signUpLink;
}
