.eventContent {
  padding: 0.75rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
}

.event {
  width: 60%;
  padding: 0rem 1rem 1rem 1rem;
  border-bottom: 1px solid var(--color-slate-gray);
}

.event h3 {
  margin-bottom: 1rem;
}

.eventDetailsWithImage {
  display: grid;
  max-width: 800px;
  grid-template-columns: auto 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  grid-template-areas:
    'image date time location'
    'image description description description'
    'image signUpLink signUpLink signUpLink';

  & .eventImage {
    grid-area: image;
  }

  & .eventDate {
    grid-area: date;
  }

  & .eventTime {
    grid-area: time;
  }

  & .eventLocation {
    grid-area: location;
  }

  & .eventDescription {
    grid-area: description;
  }
}

.eventDetails {
  display: grid;
  max-width: 800px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  grid-template-areas:
    'date time location'
    'description description description'
    'signUpLink signUpLink signUpLink';

  & .eventDate {
    grid-area: date;
  }

  & .eventTime {
    grid-area: time;
  }

  & .eventLocation {
    grid-area: location;
  }

  & .eventDescription {
    grid-area: description;
  }
}

.eventSignUpLink {
  width: fit-content;
  grid-area: signUpLink;
}

@media screen and (max-width: 650px) {
  .event {
    width: 95%;
  }

  .eventDetails {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'date time'
      'location location'
      'description description'
      'signUpLink signUpLink';
  }

  .eventDetailsWithImage {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'image image image'
      'date time location'
      'description description description'
      'signUpLink signUpLink signUpLink';
  }

  .eventImage {
    margin: 0px auto;
  }
}

@media screen and (max-width: 450px) {
  .eventDetails {
    grid-template-columns: 1fr;
    grid-template-areas:
      'date'
      'time'
      'location'
      'description'
      'signUpLink';
  }

  .eventDetailsWithImage {
    grid-template-columns: 1fr;
    grid-template-areas:
      'image'
      'date'
      'time'
      'location'
      'description'
      'signUpLink';
  }
}
