:root {
  /* Base Color Pallet */
  --color-bud: #9fa79b;
  --color-tiara: #ccd3d4;
  --color-irish-coffee: #643424;
  --color-russett: #7f615b;
  --color-morning-blue: #86999f;
  --color-slate-gray: #647792;
}

html {
  font-size: 16px;
}

body {
  margin: 0 auto;
  width: 100%;
}

#__next {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

button,
.linkAsButton {
  background-color: var(--color-bud);
  border: 1px solid var(--color-irish-coffee);
  color: #000000;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover,
.linkAsButton:hover {
  background-color: var(--color-irish-coffee);
  color: #fff;
}

button:active,
.linkAsButton:active {
  transform: scale(0.98);
}

button:focus,
.linkAsButton:focus {
  outline: 2px solid #333;
}

a {
  color: #333;
  text-decoration: none;
}

h1.pageHeader {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;
}
