:root {
}

html {
  font-size: 16px;
}

body {
  margin: 0 auto;
  width: 100%;
}

#__next {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
