.hero {
  width: 100%;
  color: #333;
  height: auto;
  grid-column: 1 / -1;
  background-image: url('https://picsum.photos/1500/700');
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 700px;
  align-items: center;
  justify-items: center;
}

.heroContent {
  background-color: rgba(240, 248, 255, 0.8);
  padding: 3rem;
  display: grid;
  align-items: center;
  justify-items: center;
}

.homeContent {
  padding: 3rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  max-width: 1300px;
  margin: 0 auto;
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  align-items: center;
}

.section:nth-child(even) {
  grid-template-areas: 'image copy copy';
}

.section:nth-child(odd) {
  grid-template-areas: 'copy copy image';
  justify-items: right;
}

.imageWrapper {
  grid-area: image;
}

.sectionContent {
  grid-area: copy;
  .copy {
    padding: 1rem 0;
  }
}

.socialMedia {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  padding-top: 1.5rem;
  align-items: center;
  justify-items: center;
  border-top: 1px solid #333;
}
