.scheduleContent {
  padding: 3rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  max-width: 1300px;
  margin: 0 auto;
}

.scheduleContainer {
}

.scheduleRow {
}

.scheduleDayGrid {
}
